.container {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input, select {
  padding: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 20px;
}

.tovary {
  padding: 20px;
  border-radius: 15px;
  border: 1px #000 solid;
  color: red;
  text-align: center;
  font-size: 20px;
}

/* Стиль вкладок  начало*/
#table1 {
  display: none;
}

#table2 {
  display: none;
}

#table3 {
  display: none;
}

.button-container {
  text-align: center;
  padding: 3%;
}

.btn_test {
  width: 200px;
  height: 40px;
  background-color: #032539;
  color: white;
  margin: 5px;
  border-radius: 9px;
}

.btn_test.active {
  background-color: #fa991c; /* Background color of the active tab */
  color: #fff; /* Text color of the active tab */
  font-weight: bold; /* Optional: make the active tab text bold */
}

/* Стиль вкладок конец*/